@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#calculadora{
    height: 50vh;
    width: 18vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 10px;
}
#pantalla{
    height: 20%;
    width: 100%;
    background-color: #aaa;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
#teclado{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.numeros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.simbolos{
    display: flex;
    flex-direction: column;
}
button{
    width: 80px;
    height: 40px;
    margin: 10px 0;
    background-color: #ffffff00;
    border: none;
}
button:hover{
    background-color: #ccc;
}